<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Linux, блог">
    <meta name="description" content="Технический блог о Linux, сетях и разработке">
    <title>dmitbud - технический блог</title>
</head>
<body>
    <header class="page-header">
        <a href="/" title="На главную">На главную</a>
    </header>
    <main class="main-inner">
        <h1>Что нового</h1>
        {% if article_list %}
            {% for article in article_list %}
                <article>
                    <header class="feed-item-header">
                        <h2>
                            <a href="/articles/{{ article.slug }}/">
                                {{ article.title  }}
                            </a>
                        </h2>
                    </header>
                    <p class="article-lead">{{ article.lead|safe }}</p>
                    <footer class="feed-item-footer">
                        <time datetime="{{ article.published_at|date:'Y-m-d' }}">
                            {{ article.published_at }}
                        </time>
                    </footer>
                </article>
            {% endfor %}
        {% else %}
            <p>Тут пока ничего нет</p>
        {% endif %}
    </main>
    <footer class="page-footer">
        <p>&copy; 2026 dmitbud</p>
    </footer>
</body>

